$royal_blue: #150035;
$deep_blue: #0b001b;
$main_text: #f8a709;


@mixin Anton_font {
    font-family: 'Anton', sans-serif;
}

@mixin Nunito_font {
    font-family: 'Nunito', sans-serif;
}

@mixin flexpro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin main_btn {
    padding: 1.5rem 3rem;
    background-image: linear-gradient(to bottom, #9d4cfb, #8d3eef, #7c30e2, #6b21d6, #590fca);
    font-size: 2.4rem;
    @include Anton_font();
    border-radius: 1rem;
    color: white;

    transition: .3s all;

    &:hover {
        background-image: linear-gradient(to bottom, #6b21d6, #590fca, #7c30e2, #9d4cfb, #8d3eef);
        box-shadow: 0px 6px 0px #3a0090a2;
        text-shadow: .4rem .4rem #150035;
    }
}

@mixin pragrp_pro {
    font-size: 1.6rem;
    font-weight: 400;
    @include Nunito_font();
    text-align: center;
    line-height: 2.6rem;
    color: white;
}

@mixin main_header {
    @include Anton_font();
    font-size: 4.8rem;
    font-weight: 400;
    color: $main_text;
    text-align: center;
    text-shadow: 0rem 0rem 4rem #9d4cfb;
}

@mixin sub_title {
    font-size: 3.2rem;
    font-weight: 400;
    @include Anton_font();
    color: white;
}

@mixin bg_grdn {
    background-image: linear-gradient(to bottom, #9d4cfb, #8d3eef, #7c30e2, #6b21d6, #590fca);
}

@mixin bg_grdn2 {
    background-image: linear-gradient(to bottom, #fc37d9, #e72bc3, #d21fae, #bd1299, #a80285);
}